/* credits go to: http://jsfiddle.net/chrisupjohn/u9yD4/ */
#light {
    background-color: #000;
    box-shadow: 0 0 5px rgba(0,0,0, .8);
    overflow: hidden;
    padding: 0 0 4px;
    width: 140px;
}

#light span {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: 4px auto 0;
    opacity: .5;
    width: 120px;
}

/*! Light colours */
#red    { background-color: red; }
#amber { background-color: orange; }
#green  { background-color: green; }

/*! Active states */
#light span.active    { opacity: 1; }
#light #red.active    { box-shadow: 0 0 10px red; }
#light #amber.active { box-shadow: 0 0 10px orange; }
#light #green.active  { box-shadow: 0 0 10px green; }